body{
    padding: 0;
    margin: 0;
    background: url('level1.jpeg');
    background-size: cover;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.child{
    display: flex;
    position: relative;
    padding-top: 200px;
    justify-content: center;
    padding-left: 180px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.95;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Optional: slight slide effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.door1 a img {
    opacity: 0;
    height: 650px;
    width: 330px;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

.door2 a img {
    opacity: 0;
    height: 650px;
    width: 340px;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 0.5s;
}

.puzzle {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 3s;
}

.door1{
    display: flex;
    gap: 0px; /* Reduce gap to make doors close together */
    align-items: center;
    transition: transform 1s ease-in-out;
    z-index: 1;
}

.door2{
    display: flex;
    position: absolute;
    padding-left: 597px;
    transition: transform 1s ease-in-out;
}

.child2{
    display: flex;
    position: absolute;
    padding-bottom: 700px;
    padding-right: 10px;
}

.puzzle{
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    position: absolute;
    height: 150px;
    width: 500px;
    background: rgba(63, 55, 68, 0.186);
    font-size: 22px;
    color: bisque;
    padding-top: 10px;
    justify-content: top;
    border-radius: 22px;
}

.door2 img:hover,
.door1 img:hover
{
    transform: scale(1.05);
}

a{
    cursor: pointer;
}
