body{
    background: url("level1deadend.jpeg");
    background-size: cover;
    background-position: center;
}

.parent{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

.child{
    display: flex;
    padding-bottom: 160px;
}

button{
    font-size: 40px;
    background: url('deadend1.webp');
    background-size: cover;
    background-position: center;
    color: #222222;
    border-radius: 22px;
    border: none;
    height: 60px;
    width: 170px;
    font-family: 'MedievalSharp', cursive;
   
    transition: transform 0.1s;
}

button:hover {
    transform: scale(1.07);
}